services:
  api:
    build:
      context: ../game
      dockerfile: Dockerfile
    container_name: myapp-api
    ports:
      - "3333:8080"
    environment:
      - PORT=8080
    restart: unless-stopped
